* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: table;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    max-width: 100%;
}


/* header */

boof-header {
    display: table-row;
    position: relative;
    width: 100%;
    height: 70px;
    background-image: url('../../img/header.png');
    color: white;
}

boof-header>div {
    width: inherit;
    height: inherit;
    float: right;
    background-color: hsla(105, 0%, 10%, 0.8);
}

header-menu {
    height: inherit;
}

header-menu>div {
    width: auto;
    height: inherit;
    margin-right: 10px;
    float: right;
}

header-menu span {
    display: table-cell;
    width: 200px;
    height: inherit;
    text-align: center;
    vertical-align: middle;
    font-weight: 800;
    font-size: 22px;
}

header-menu span:hover {
    background-color: hsl(0, 0%, 5%);
}

header-menu span:active {
    background-color: hsl(0, 0%, 5%);
}

header-menu span>a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

header-menu span>a:hover {
    text-decoration: underline;
}

header-menu span>a:active {
    text-decoration: underline;
}

header-menu span>a:visited {
    text-decoration: none;
}


/* footer */

boof-footer {
    display: table-row;
    width: 100%;
    height: 100px;
    background-color: hsla(105, 0%, 10%, 0.8);
    color: white;
    font-size: 16px;
}

footer-menu {
    width: inherit;
    height: inherit;
}

boof-footer>div {
    display: block;
    width: 1200px;
    height: inherit;
    margin: 0px auto;
}

footer-menu>div span {
    display: table-cell;
    width: 400px;
    height: inherit;
    padding: 30px 0px;
    text-align: center;
    vertical-align: middle;
}

footer-menu span img {
    width: 30px;
    margin: 0px 5px;
}


/* table */

boof-table {
    display: table-row;
    width: 100%;
}

my-table-wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

my-table {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow-x: scroll;
    overflow-y: scroll;
}

my-header {
    display: block;
    white-space: nowrap;
    padding-bottom: 10px;
    font-weight: bold;
}

my-body {
    display: block;
}

my-row {
    display: block;
    white-space: nowrap;
}

my-cell,
my-cell-header {
    display: inline-block;
    width: 100px;
    padding: 0px;
    margin: 0px;
    white-space: normal;
}

my-cell>div,
my-cell-header>div {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
}

[ng-click] {
    cursor: pointer;
}

.large {
    min-width: 200px;
}

.medium {
    min-width: 100px;
}

boof-popup {
    position: absolute;
    width: 200px;
    height: 200px;
    background: lightskyblue;
}