<my-table>
    <my-header>
        <my-cell-header ng-repeat="header in ::$ctrl.headers" title="{{::header.long}}" ng-class="$ctrl.getClass(header)" h="header">
        </my-cell-header>
    </my-header>
    <my-body>
        <my-row ng-repeat="row in $ctrl.rows | orderBy : $ctrl.boofTable.column : $ctrl.boofTable.reverse |limitTo:$ctrl.boofTable.limit">
            <my-cell ng-repeat="cell in ::row.array track by $index" title="{{::cell.header.long}}" ng-class="$ctrl.getClass(cell.header)">
                <div>{{::cell.value}}</div>
            </my-cell>
        </my-row>
    </my-body>
</my-table>