body {
    text-align: center
}

td,
th {
    padding: 5px 8px;
}

th {
    padding-bottom: 10px;
}

[ng-click] {
    cursor: pointer;
}

.large {
    min-width: 200px;
}

.medium {
    min-width: 100px;
}