<my-table-wrapper>
    <my-table>
        <my-header>
            <my-cell ng-repeat="header in ::$ctrl.headers" ng-bind-html="::header.short" title="{{::header.long}}" ng-click="$ctrl.showLink(header)"
                ng-class="$ctrl.getClass(header)"></my-cell>
        </my-header>
        <my-body>
            <my-row ng-repeat="row in $ctrl.rows | limitTo:$ctrl.boofTable.limit">
                <my-cell ng-repeat="cell in ::row track by $index">{{::cell}}</my-cell>
            </my-row>
        </my-body>
    </my-table>
</my-table-wrapper>