body {
    display: block;
    margin: 0px;
    text-align: center
}

td,
th {
    padding: 5px 8px;
}

th {
    padding-bottom: 10px;
}

[ng-click] {
    cursor: pointer;
}

.large {
    min-width: 200px;
}

.medium {
    min-width: 100px;
}

boof-header {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
    background-color: hsla(0, 0%, 95%, 0.5);
}

boof-table {
    display: block;
    margin-top: 100px;
}